* {
    margin: auto;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
/*Cuerpp de la pagina*/
body{
    /*background-color:#61A0E8 ;*/
}
/*Cabecera*/
header {
    background-color:#3B544B ;
}
header h1 {
    text-align: center;
    color: navy;
    padding: 0.5em;
    font-size: 1.5em;
}
#social{
    padding-left: 1em;


}

/*Navegador Principal*/
#menu {
    
    /*background: #ffa84c;*/
    min-height: 3em;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: 0 2px 2px 0, 0 1px 5 px 0 , 0 3px 1px -2px;
    list-style: none;
    border: 1px solid black;
    
}
#menu ul li{
    width: 150%;
    float: left;
       
 }
 #menu ul li a:link a:visited {
    border-left: 1px solid #FFF;
    border-right: 1px solid #7C7C7C;
    color: #333;
    display: block;
    padding: .3em;
    text-decoration: none;
}
/*Navegador dentro del index.html*/
 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    float: left;
    
}
 ul li{
    width: 150%;
    
       
 }
 ul li a:link a:visited {
    border-left: 1px solid #FFF;
    border-right: 1px solid #7C7C7C;
    color: #333;
    padding: .3em;
    text-decoration: none;
    float: left;
}

/*Principal Section*/
section {
    width: 70%;
    /*background-color: orange;*/
    float: left;
}
section h1{
    text-align: center;
    padding: 0.5em;
    color: palegreen;
    font-size: 1.4em;
}
/*Ilustracion*/
img.derecha{
    float: right;
    margin-left: 30px;
    width: 30%;
    
}
/*Articulos*/
article{
    
    margin: 0.5em 3em;
    padding: 0.5em 3em;
    
    border: 3px double aqua;
}
article p {
    text-align: justify;
}
/*Aside anuncios*/
aside{
    width: 25%;
    clear: both;
}
/*Pie de pagina*/
footer  {
    clear: both;
    
}