#contenedor {
    width: 700px;
}

#cabecera {

}

#menu {
    background-color: brown;
    float: left;
    width: 15%;
}

#contenido {
    background-color: brown;
    float: left;
    width: 85%;
}
footer{
    clear: both;
}